<!DOCTYPE html>
<html>
    <head>
        <title>Next</title>
        <link rel="stylesheet" href="./stylesheets/materialize.min.css">
        <link rel="stylesheet" href="./stylesheets/common.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
    </head>
    <body>