<% include partials/header %>
    <div class="ui fixed teal inverted menu">
        <div class="ui container">
            <a href="/home" class="header item">
                <i class="home icon" style="font-size:2.5em;color:#FFF;"></i>
            </a>
            <div class="right menu">
                <div id="profileDropdown" class="ui dropdown item">
                    Profile <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/profile" class="item">Profile</a>
                        <a href="#" class="item">Security</a>
                        <a href="/logout" class="item">Logout</a>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include partials/common_js %>
<% include partials/pages/home/home_js%>
<% include partials/footer %>