<% include partials/header %>

    <div id="punchdiv">
        <span><i class="large material-icons">dashboard</i></span>
        <span>E-Ticketing NEXT</span>
    </div>    

<% include partials/footer %>