<% include partials/header %>

    <div id="topdiv" class="text-shadow box-shadow">
        <i class="fa fa-ticket"> E-Ticketing Next</i>
    </div>
    <div id="logindiv" class="card box-shadow">
        <div class="card-content text-shadow">
            <span class="card-title text-shadow">Sign In</span>
            <form action="/login" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate" pattern="^\S{6,}$" title="Username must be at 6 characters" required>
                    <label for="username" class="white-text">Username</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate" pattern="^\S{8,}$" title="Password must be at least 8 characters" required>
                        <label for="password"  class="white-text">Password</label>
                    </div>
                </div>        
                <button id="submitbtn" class="btn waves-effect waves-red right yellow black-text" type="submit" name="action">
                    Sign In<i class="material-icons right">send</i>
                </button>     
            </form>                                    
        </div>
    </div>
<% include partials/footer %>