body {
    background: #B3DE81;
}

#topdiv {
    background: #265C00;
    color:#FFF;
    font-size: 2em;   
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
    width: 10em;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 1px #000;
}

#logindiv {
    margin: 100px auto;
    width: 400px;
    background: #265C00;
    box-shadow: 3px 3px 10px #000;
}

#logindiv {
    color: #FFF;
}

#submitbtn {
    font-weight: bold;
}

.card .card-title {
    font-weight: bold;
    font-size: 1.7em;
    
}

.text-shadow {
    text-shadow: 2px 2px 1px #000;
}