body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#punchdiv {
    color:#FFF;
    background: #8C0004;
    margin: 5% auto;
    padding-bottom: 20px;
    text-align: center;
    user-select: none;
}

#punchdiv .logo {
    display: block;
}

#punchdiv .punchline {
    font-family: 'Righteous', cursive;
    font-size: 2.0em;
}

#logindiv {
    margin: 20px auto;
    width: 35%;
}

#logindiv {
    padding-bottom: 30px;
}

#submitbtn {
    display:block;
}

.card .card-title {
    font-weight: bold;
    font-size: 1.7em;
}