body {
    background: #B3DE81;
}

#punchdiv {
    color: #000B29;
    background: #68A225;
    margin: 5% auto;
    padding-bottom: 20px;
    text-align: center;
    user-select: none;
    width: 500px;
}

#punchdiv .logo {
    display: block;
}

#punchdiv .punchline {
    font-family: 'Righteous', cursive;
    font-size: 2.0em;
}

#logindiv {
    margin: 20px auto;
    width: 400px;
    background: #265C00;
}

#logindiv {
    padding-bottom: 30px;
    color: #FFF;
}

#submitbtn {
    display:block;
}

.card .card-title {
    font-weight: bold;
    font-size: 1.7em;
}